 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-3">
                    <p>Hello, my name is Craig and I'm a web developer specializing in front-end development. I have 4 years of experience building web apps and sites. Check out my skills to the right. Thanks for dropping by!</p>
                </div>
                <div class="col-lg-4">
                    <p>HTML / CSS: 4 years <br>
                    JavaScript: 3 years <br>
                    AngularJS: 1.5 years <br>
                    PHP / Laravel: 2 years <br>
                    Ruby / Rails: 8 months </p>
                </div>
            </div>
        </div>
    </section>